body{
    font-family: 'Courier New', Courier, monospace;
}

.navigation {
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}